<div class="modal-container">
    
    <div class="mat-dialog-header">
        <h2 mat-dialog-title>
            <span><mat-icon>attach_file</mat-icon> Attached Files</span>
        </h2>
 
        <button mat-icon-button class="close-modal" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

<mat-dialog-content> 
    <ng-container *ngIf="!processing;else loading">
        <h3>
            <span>{{passedData.requestTypeCode + '#: ' + passedData.requestNo}}</span>
        </h3>
    
         <mat-list *ngIf="datas.length > 0; else noData">
            <mat-list-item *ngFor="let d of datas; let i = index" matRipple >
                <h3 matLine>{{d.fileName}} {{ d.fileSize > 0 ? (' - '+ formatBytes(d.fileSize)):''}} </h3>
                
                <button mat-raised-button [disabled]="d.downloading" (click)="download(d, i)" color="warn">
                   <mat-icon *ngIf="!downloading">download</mat-icon> 
                </button>
                
                <button mat-raised-button [disabled]="d.downloading" (click)="preview(d,i)" color="primary">
                    <mat-icon>visibility</mat-icon> 
                 </button>
 
            </mat-list-item>
          </mat-list>

          <ng-template #noData>
            <div class="no-data">No attachment found..</div>
          </ng-template>
                 
    </ng-container> 
 
    <ng-template #loading> 
       <app-loading></app-loading>
    </ng-template>
</mat-dialog-content>

<mat-dialog-actions>
    
    <button mat-raised-button class="text-warn" mat-dialog-close>
        <mat-icon>close</mat-icon>
        CLOSE
    </button>
    
</mat-dialog-actions>

</div>