<div class="modal-container">
    
    <div class="mat-dialog-header">
        <h2 mat-dialog-title>
            <span>{{ passedData.title }}</span>
            (No. {{passedData.requestNo}})
        </h2>

        <button mat-icon-button class="close-modal" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-dialog-content>  
    
        <div id="app-status">
            <app-status-steps [approvers]="approvers"
            ></app-status-steps>
        </div>

        <div id="print-preview">
            <div class="print-wrapper" [ngClass]="passedData.requestTypeCode"  fxLayout="column"> 

                <!-- <app-rfs-view [datas]="datas"></app-rfs-view> -->

            </div> 
        </div>
    
    </mat-dialog-content>

    <mat-dialog-actions>

        <ng-container>
            <button mat-raised-button color="warn" (click)="print()">
                <mat-icon>print</mat-icon>
                PRINT
            </button>
        </ng-container>

        <ng-container>
            <button mat-raised-button color="primary" (click)="viewAttachments()">
                <mat-icon>attach_file</mat-icon>
                ATTACHMENTS
            </button>
        </ng-container>
        
        <button mat-raised-button class="text-warn" mat-dialog-close>
            <mat-icon>close</mat-icon>
            CLOSE
        </button>
    
    </mat-dialog-actions>

</div>