<form [formGroup]="form">
  <!-- column fields -->
  <div class="flex-auto">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="userName" readonly="" [disabled]="isSaving">
      <button mat-icon-button class="search-inline-field" color="primary" (click)="openSearch('userName', $event)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Branch</mat-label>
      <input matInput formControlName="branchCode" required readonly [disabled]="isSaving">
      <button mat-icon-button class="search-inline-field" color="primary" (click)="openSearch('branchCode', $event)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <!-- Ken - 6/19/2024 -->
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <ng-container *ngIf="form.get('userName').value; else selectUser">
      <ng-container *ngIf="currentBranches && currentBranches.length > 0; else noBranches">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <ng-container *ngFor="let branchGroup of groupedBranches(currentBranches, 4)">
            <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="10px" class="branch-row">
              <ng-container *ngFor="let branch of branchGroup">
                <div fxFlex="20" fxLayout="column" fxLayoutAlign="start center" class="branch-wrapper">
                  <div class="branch-card-container">
                    <mat-card *ngIf="branch" class="branch-card same-size">
                      <mat-card-title>{{ branch?.divisionName | titlecase }}</mat-card-title>
                      <mat-card-subtitle>{{ branch?.branchCode }}</mat-card-subtitle>
                    </mat-card>
                    <div class="fab-container" fxLayoutAlign="center center">
                      <button mat-fab color="warn" aria-label="Delete Branch" (click)="deleteBranch(form.get('userName').value, branch?.branchCode, branch?.divisionName)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #selectUser>
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="branch-card">
          <mat-card-content>
            <p>Please select a user to view, assign, or delete associated branches.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>

    <ng-template #noBranches>
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="branch-card">
          <mat-card-content>
            <p>There is currently no branch assigned to this user.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </div>

  <br />
  <!-- -->
  <div align="end">
    <button mat-flat-button color="primary" (click)="saveBranch()" [disabled]="isSaving">
      <mat-icon>save</mat-icon> Save Changes
    </button>
    <button mat-flat-button color="warn" (click)="cancel()">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
  </div>
</form>
